*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    font-size: 10px !important;
    font-family: 'Roboto Condensed', Arial, sans-serif;
    color: rgba(0,0,0,1) !important;
    width: 110px !important;

}
:is( .nav,.ul,li ) {
    border-right: 2px solid;
    Border-Color:rgba(112,112,112,1);
    border-width:1px !important;
    padding: 18px 0;
    display: block;
    text-decoration: none;
    text-align: center;

} 
.nav li{
    padding: 0;
    text-align: center;
    margin: 0;
    height: 0;
    float: left;
    
}
